name: CI
on:
  workflow_dispatch: # allows manual triggering
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  linux:
    name: Build Linux configs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Free up space
        run: bash .github/scripts/space_cleanup.sh
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: davsanchez
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      # Commented out as this is aarch64-linux only
      # - name: Home configs
      #   run: nix run home-manager -- build --flake ".#david@nr-vm"
      # - name: NixOS config (VM)
      #   run: nix build --flake ".#nixosConfigurations.nr-vm-utm"
      - name: Colmena configs
        run: nix shell "nixpkgs#colmena" --command colmena build --on eter --no-build-on-target

  macos:
    name: Build macOS configs (${{ matrix.type }})
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - type: home-manager
            command: nix run home-manager -- build --flake
            prefix: "david@"
          - type: nix-darwin
            command: nix run nix-darwin -- build --flake
            prefix: ""
    steps:
      - uses: actions/checkout@v6
      - name: Free up space
        run: bash .github/scripts/space_cleanup.sh
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: davsanchez
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build ${{ matrix.type }} (solio)
        run: ${{ matrix.command }} ".#${{ matrix.prefix }}solio"
      - name: Build ${{ matrix.type }} (sierpe)
        run: ${{ matrix.command }} ".#${{ matrix.prefix }}sierpe"